@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-[#1a1400] text-gray-100;
}

@theme {
  --color-primary-50: #fdfaf0;
  --color-primary-100: #f9f1d4;
  --color-primary-200: #f1e1a5;
  --color-primary-300: #e7cc6e;
  --color-primary-400: #dab13f;
  --color-primary-500: #c5972c;
  --color-primary-600: #aa7721;
  --color-primary-700: #88591d;
  --color-primary-800: #71491e;
  --color-primary-900: #613f1d;

  --color-gold-50: #fdfaf0;
  --color-gold-100: #f9f1d4;
  --color-gold-200: #f1e1a5;
  --color-gold-300: #e7cc6e;
  --color-gold-400: #dab13f;
  --color-gold-500: #c5972c;
  --color-gold-600: #aa7721;
  --color-gold-700: #88591d;
  --color-gold-800: #71491e;
  --color-gold-900: #613f1d;
}
